@media all and (max-width:767px) and (min-width:576px) {
	.nopadding{
		padding:0;
	}
	.nomargin{
		margin:0;
	}
	.fixed_menu{
		position:fixed;
		z-index:3;
	}
	.staticheight{
		height:10vw;
	}
	header{
		display:block;
		width:100%;
		margin:0;
		padding:0;
	}
	.logo, .logo2{
		position:absolute;
		left:37%;
		top:0%;
		width:20%;
	}
	.nav_small{
		display:none;
	}	
	nav, .fixed_navi{
		float:none;
		margin-top:0%;
	}
	nav ol, .fixed_navi ol{
		list-style:none;
		margin-left:5%;
		padding-left:1%;
	}
	nav ol li {
		display:block;
		float: left;
		margin-top:8%;
	}
	.fixed_navi ol li{
		display:block;
		float: left;
		margin-top:7%;
	}
	nav ol li a {
		display:block;
		text-transform:uppercase;
		font-family:Poppins;
		font-size:1.5vw;
		font-weight:700;
		letter-spacing:1px;
		line-height:1.6vw;
		padding-left:0.8rem;
		padding-right:0.8rem;	
		padding-top:5px;
		padding-bottom:3px;
		color:#FFFFFF;
		transition:1s;
	}
	.fixed_navi ol li a{
		display:block;
		text-transform:uppercase;
		font-family:Poppins;
		font-size:1.5vw;
		font-weight:700;
		letter-spacing:1px;
		line-height:1.6vw;
		padding-left:0.8rem;
		padding-right:0.8rem;	
		padding-top:5px;
		padding-bottom:3px;
		color:#3394D1;
		transition:1s;
	}
	nav ol li:last-child{
		text-transform:uppercase;
		font-family:Poppins;
		font-size:1.1vw;
		font-weight:700;
		letter-spacing:1px;
		line-height:1.6vw;
		color:#FFFFFF;
		padding-top:0;
		padding-bottom:0;
		border-style:solid;
		border-radius:5vw;
		border-color:#3394D1;
		border-width:2px;
		margin-top:7.7%;
		text-align:center;
	}
	.fixed_navi ol li:last-child{
		text-transform:uppercase;
		font-family:Poppins;
		font-size:1.1vw;
		font-weight:700;
		letter-spacing:1px;
		line-height:1.6vw;
		color:#FFFFFF;
		padding-top:0;
		padding-bottom:0;
		border-style:solid;
		border-radius:5vw;
		border-color:#3394D1;
		border-width:2px;
		margin-top:6.7%;
		text-align:center;
	}
	.fas {
		margin-right:0%;
		font-weight:600;
	}
	.basket {
		float:left;
		font-size:1.6vw;
	}
	nav ol li a:hover {
		transition:1s;
		border-radius:5vw;
		background:#FFFFFF;
		color:#3394D1;
		text-decoration:none;
	}
	.social {
		position:absolute;
		display:block;
		width:26%;
		height:3vw;
		padding:0;
		right:4%;
		margin-top:1%;
	}
	.social ol {
		list-style:none;
	}
	.fb_ico, .fb2_ico{
		display:block;
		float:left;
		position:absolute;
		top:60%;
		left:-10%;
	}
	.fb2_ico{
		display:none;
	}
	
	.insta_ico, .insta2_ico{
		display:block;
		position:absolute;
		float:left;
		top:60%;
		left:10%;	
	}
	.insta2_ico{
		display:none;	
	}
	.fb_ico img, .fb2_ico img, .insta_ico img, .insta2_ico img{
		width:40%;
		height:120%;	
	}
	.language {
		position:relative;
		display:block;
		float:left;
		margin-top:7%;
		margin-left:-40%;
	}
	.language a{
		color:#FFFFFF;
		font-family:Poppins;
		font-size:2vw;
	}
	.mainContainer {
		width:100%;
	}
	.banner{
		width:100%;
	}
	.banner_container h1 {
		display:block;
		position:absolute;
		width:47%;
		height:10vw;
		top:17vw;
		left:25.5%;
		color:#FFFFFF;
		font-family:Poppins;
		font-size:3.5vw;
		line-height:5vw;
		text-align:center;
		font-weight:700;	
	}
	.banner_container h2 {
		display:block;
		position:absolute;
		width:66.6%;
		height:7.1vw;
		top:28vw;
		left:16.7%;
		color:#FFFFFF;
		font-family:Poppins;
		font-size:1.7vw;
		line-height:2.5vw;
		text-align:center;
		font-weight:500;	
	}
	.banner_container a {
		display:block;
		width:3.5%;
		height:3.44vw;
		position:absolute;
		top:40.6vw;
		left:48.77%;
	}
	.banner_container a img {
		display:block;
		width:100%;
		height:3.44vw;
	}
	.box1, .box3, .box5, .box7{
		background:#FFFFFF;
		margin-bottom:8%;
	}
	.picture_left {
		position:relative;
		display:block;
		width:32%;
		height:31.3vw;
		margin-left:auto;
		margin-right:auto;
		margin-top:5.26%;
		margin-bottom:2.65vw;
		z-index:2;
	}		
	.rectangle{
		position:absolute;
		display:block;
		width:32%;
		height:31.5vw;
		top:8.3vw;
		left:41.3%;
		z-index:1;
	}
	.right_discription, .left_discription_box4, .left_discription_box8{
		display:block;
		margin-top:3%;
		margin-left:5.3%;
		font-family:Poppins;
		padding:0;		
	}
	.left_discription_box2, .left_discription_box6{
		display:block;
		margin-top:1%;
		margin-left:5.3%;
		font-family:Poppins;
		padding:0;		
	}
	
	.right_discription h1{
		display:block;
		width:47%;
		color:#3394D1;
		font-size:3vw;
		line-height:3.6vw;
		font-weight:700;
		margin-left:0%;		
	}
	.left_discription_box2 h1, .left_discription_box6 h1{
		display:block;
		width:47%;
		color:#3394D1;
		font-size:3vw;
		line-height:3.6vw;
		font-weight:700;
		margin-left:0%;
	}
	
	.left_discription_box4 h1, .left_discription_box8 h1{
		display:block;
		width:47%;
		color:#FFFFFF;
		font-size:3vw;
		line-height:3.6vw;
		font-weight:700;
		margin-left:0%;
	}
	.left_discription_box2 h2, .left_discription_box6 h2{
		display:block;
		width:82%;
		color:#9B9B9B;
		font-size:1.7vw;
		font-weight:500;
		margin-top:2vw;
		margin-left:4.7%;
		margin-bottom:8%;
		line-height:1.95vw;
	}
	.right_discription h2{
		display:block;
		width:82%;
		color:#9B9B9B;
		font-size:1.7vw;
		font-weight:500;
		margin-top:2vw;
		margin-left:4.7%;
		line-height:1.95vw;
	}
	
	.picture_left, .picture_right_box4, .picture_right_box8   {
		display:block;
		width:32%;
		height:31.3vw;
		height:31.3vw;
		margin-left:auto;
		margin-right:auto;
		margin-top:5.5%;
		margin-bottom:5.5%;
		box-shadow: 15px 15px 50px #a2a2a2;
	}
	.picture_right_box2, .picture_right_box6{
		display:block;
		width:32%;
		height:31.3vw;
		margin-left:auto;
		margin-right:auto;
		margin-top:5.5%;
		margin-bottom:5.5%;
		box-shadow: 15px 15px 50px #a2a2a2;
	}
	.left_discription_box4 h2, .left_discription_box8 h2 {
		display:block;
		width:82%;
		color:#FFFFFF;
		font-size:1.7vw;
		font-weight:500;
		margin-top:2vw;
		margin-left:4.7%;
		margin-bottom:8%;
		line-height:1.95vw;
	}
	.box2, .box6 {
		display:flex;
		flex-wrap: wrap-reverse;
		background:#F5F5F5;
		width:100%;
		z-index:2;		
		margin-bottom:0%;
	}
	
	.blue_ractangle {
		display:none;
	}
	.box4, .box8 {
		display:flex;
		flex-wrap:wrap-reverse;
		position:absolute;
		background:#3394D1;
		width:100%;
		right:0;	
	}
	.grey_ractangle{
		display:none;
	}
	.box5{
		margin-top:74%;
	}
	br {
		display:none;
	}
	.rectangle2{
		position:absolute;
		display:block;
		width:32%;
		height:31.5vw;
		top:11.3vw;
		left:28.5%;
		z-index:1;
	}
	.simple {
		width:100%;
		margin-top:82%;
	}
	.simple h1 {
		display:block;
		width:50%;
		font-size:3vw;
		color:#FFFFFF;
		font-family:Poppins;
		font-weight:600;
		text-align:center;
		background:#3394D1;
		padding-top:0.5%;
		padding-bottom:0.5%;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:3.1%;
	}
	.simple_products{
		display:block;
		width:100%;
		padding-left:7%;
	}
	section {
		display:block;
		width:40%;
		height:43vw;
		background:#F9F9F9;
		margin-top:10%;
		margin-right:5%;
		float:left;
	}
	section img{
		display:block;
		width:80.3%;
		margin-top:-17%;
		margin-left:auto;
		margin-right:auto;
	}
	section h2 {
		font-family: Poppins-Regular;
		color:#9B9B9B;
		font-size:3vw;
		margin-top:1.29vw;
		margin-left:10.37%;	
		margin-bottom:0;
		text-transform:uppercase;
	}
	section h3{
		font-family:Poppins-SemiBold;
		color:#4A4A4A;
		font-size:3.4vw;
		margin-left:10.37%;
		margin-top:0.4%;
		font-weight:bold;
	}
	section:nth-child(1){
		margin-left:0%;
	}
	section:nth-child(4){
		margin-left:0%;
	}
	section:nth-child(5){
		margin-left:23%;
	}
	.ask_container{
		display:block;
		width:100%;
		text-align:center;
	}
	.ask_form_container{
		background-image:url(_img/stopka.png);
		width:100%;
		padding-bottom:10%;
	}
	.other_products{
		display:block;
		width:50%;
		border-radius:4vw;
		border-style:solid;
		border-color:#3394D1;
		background:#3394D1;
		font-family: Poppins-SemiBold;
		font-weight:600;
		color:#FFFFFF;
		font-size:3vw;
		text-transform:uppercase;
		text-align:center;
		padding-top:0.6vw;
		padding-bottom:0.6vw;
		margin-left:auto;
		margin-right:auto;
		margin-top:5.3vw;
		transition:1s;	
	}
	.other_products:hover{
		transition:1s;
		border-style:solid;
		border-color:#3394D1;
		color:#3394D1;
		background:#FFFFFF;
		text-decoration:none;
	}
	.ask_container h1{
		margin-top:2.84%;
		color:#3394D1;
		font-family:Poppins;
		font-size:2.6vw;
		font-weight:800;
	}
	.contact_form {
		display:block;
		width:90%;
		height:auto;
		margin-left:auto;
		margin-right:auto;
        margin-top:0.6vw;	
	}
	.contact_form input {
		display:block;
		width:100%;
		height: 5.2vw;
		margin-top:1.4vw;
		padding-left:2.4%;
		font-family:Poppins;
		color:#4A4A4A;
		font-size:2.3vw;
		opacity: 0.6;
		border-style:solid;
		border-color:#9B9B9B;
		border-width:1px
	}	
	.contact_form:focus {
		border-color:#3394D1;
	}
	.contact_form textarea {
		display:block;
		width:100%;
		height:17.5vw;
		margin-top:1vw;
		padding-left:2.4%;
		font-family:Poppins;
		color:#4A4A4A;
		font-size:2.3vw;
		opacity: 0.6;
		border-style:solid;
		border-color:#9B9B9B;
		border-width:1px;
	}
	.file{
		display:block;
		width:35.5%;
		height:5.2vw;
		border-radius:4vw;
		border-style:solid;
		border-color:#3394D1;
		background:#3394D1;
		font-family:Poppins;
		color:#FFFFFF;
		font-size:2.2vw;
		text-align:center;
		padding-top:1%;
		margin-top:3.3%;
		cursor:pointer;
		float:left;
		margin-left:32%;
	}
	.regulations{
		float:left;
		display:block;
		width:80%;
		height:1vw;
		margin-left:21%;
		margin-top:2%;		
	}
	.chceckbox_form input{
		display:block;
		width:4.5%;
		height:4vw;
		float:left;
		margin:0 0 0 1%;
	}
	.regulations_text{
		display:block;
		width:78%;
		margin-left:0%;
		line-height:4vw;
		color:#4A4A4A;
		font-family:Poppins;
		font-size:2vw;
		float:left;
	}
	.btn_send{
		display:block;
		width:70%;
		font-family:Poppins;
		font-size:3.5vw;
		font-weight:700;
		line-height:4.5vw;
		border-style:solid;
		border-width:3px;
		border-color:#3394D1;
		border-radius:4vw;
		margin-top:20%;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		color:#3394D1;
		text-transform:uppercase;
		cursor:pointer;
		transition:1s;
	}
	.btn_send:hover{
		transition:1s;
		border-color:#FFFFFF;
		background:#3394D1;
		color:#FFFFFF;
	}
	footer{
		display:block;
		width:100%;
	}
	.footer_left{
		display:block;
		width:90%;
		height:13vw;
		margin-left:5%;
		margin-top: 9.3%;		
	}
	.footer_left h1 {
		font-family:Poppins;
		font-size:4vw;
		text-transform:uppercase;
	}
	.footer_left hr{
		display:block;
		width:30%;
		border-width:2px;
		border-color:#3394D1;
		margin-left:0;
		margin-top:5%;
		margin-bottom:5%;
	}
	.footer_left li  {
		list-style-type:none;
	}
	.footer_left li a {
		font-family:Poppins;
		font-size:3vw;
		color:#9B9B9B;
		background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
		transition:1s;
	}
	.footer_left li a:hover{
		text-decoration:none;
		transition:1s;
		color:#3394D1;
		background-size: 100% .1em;
	}
	.footer_center{
		display:block;
		width:90%;
		height:13vw;
		margin-left:5%;
		margin-top: 9.3%;		
	   }
	.footer_center h1 {
		font-family:Poppins;
		font-size:4vw;
		text-transform:uppercase;
	}
	.footer_center hr{
		display:block;
		width:30%;
		border-width:2px;
		border-color:#3394D1;
		margin-left:0;
		margin-top:5%;
		margin-bottom:5%;
	}
	.footer_center li  {
		list-style-type:none;
	}
	.footer_center li a {
		font-family:Poppins;
		font-size:3vw;
		color:#9B9B9B ;
		background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
		transition:1s;
	}
	.footer_center li a:hover{
		text-decoration:none;
		transition:1s;
		color:#3394D1;
		background-size: 100% .1em;
	}
	.footer_right{
		display:block;
		width:90%;
		height:13vw;
		margin-left:5%;	
		margin-top: 9.3%;
	}
	.footer_right h1 {
		font-family:Poppins;
		font-size:4vw;
		text-transform:uppercase;
	}
	.footer_right hr{
		display:block;
		width:30%;
		border-width:2px;
		border-color:#3394D1;
		margin-left:0;
		margin-top:3%;
		margin-bottom:3%;
	}
	.footer_right li  {
		list-style-type:none;
		font-size:3vw;
		color:#3394D1;
	}
	.footer_right li a {
		font-family:Poppins;
		font-size:2.5vw;
		color:#3394D1 ;
		background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
		transition:1s;
	}
	.footer_right li a:hover{
		text-decoration:none;
		transition:1s;
		color:#9B9B9B;
		background-size: 100% .1em;
	}	

	
	
	
	
}